<div id="sidebar">
    <button id="closeSidebar" class="close-btn">✖</button>
    <h4>Settings</h4>
    <ul class="list-unstyled">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
